body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 36px;
    color: #333333;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #0078d4;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

.collapsible {
    cursor: pointer;
    user-select: none;
    padding: 12px 20px;
    background-color: #0078d4;
    color: white;
    border: none;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.collapsible:hover {
    background-color: #0078d4;
    transform: scale(1.05);
}

.content {
    display: none;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.active {
    display: block;
}

#overview {
    width: 50%;
    margin: 20px auto; /* Centrar horizontalmente el elemento */
    padding: 20px; /* Agregar un poco de espacio interior para que se vea mejor */
    background-color: #ffffff; /* Opcional: agregar un fondo blanco al elemento */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
